.login_addproductButton{
    background-color:  #cea119cc;
    border-radius: 2px;
    width: 98%;
    color: white;
    height: 50px;
    border: 2px solid;
    margin-top: 40px;
    border-color: rgb(39, 39, 39);
    border-radius: 6px;
    font-weight: 700;
    font-size: 15px;
    
}
.addproduct_container{
    width: 500px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 40px;
    padding-bottom: 60px;
    box-shadow: 1px 2px 4px 1px #b5b5b59e;
}
.addproduct_container>h1{
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
}
.addproduct_container>form>h5{
    margin-bottom: 5px;
}
.addproduct_container>form>input{
    margin-bottom: 10px;
    background-color: white;
    width: 98%;
    height: 53px;
    display: flex;
    justify-items: center;
    border-radius: 6px;
}
@media(max-width:768px){
    .addproduct_container>form>input {
        height: 39px;
    }
    .addproduct_container{
        width: 272px;
    }
}