.checkoutProduct{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.checkoutProduct_info{
    padding-left: 20px;
}

.checkoutProduct>img{
    height: 180px;
    width: 25%;
    object-fit: contain;
}
.chekoutProduct_info>button{
    background-color: #f0c14b;
    border: 1px solid;
    border-color: #d5a11e;
    margin-top: 5px;
    padding: 4px;
    padding-left: 5px;
    padding-right: 5px;

}
.checkoutProduct_rating{
    display: flex;
    color: rgb(255, 204, 0);
}
.chekoutProduct_info h4{
    font-size: 18px;
    font-weight: 600;
    color: rgb(23, 23, 23);
}
@media(max-width:768px){
    .checkout {
        display: block;
    }
    .chekoutProduct_info{
        margin-left: 1rem;
       }
       .checkoutProduct{
        margin: 1rem;
       }
}