.home{
    margin-left: auto;
    margin-right: auto;
    /* max-width: 1500px;  */
}

.home_image{
    width: 100%;
    opacity: 0.8;
    /* mask-image: linear-gradient(to bottom,rgba(0,0,0,1), rgba(0,0,0,0)); */
    z-index: -1;
    margin-bottom: -150px;
    position: relative;
}
/* higher to lower opacity(from top to bottom) 1 is higher opacity and 0 is lower opacity */

.home_row{
    display: flex;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
}

.advance_search{
    display: flex;
    justify-content: center;
    justify-content: space-evenly ;
}

.searchbar{
    display: flex;
    flex: 1; 
    justify-content: center;
    align-items: center;
    margin: 40px;
}
.home_searchInput{
    height: 20px;
    padding: 10px;
    box-shadow: 1px 3px 5px rgb(162, 162, 162);
    border: 1px solid #cacaca;
    border-radius: 5px;
    width: 80%;
    padding-left: 40px;
  
}
.searchitem{
    background-color: #f0f0f0;
    border-radius: 20px;
    border: 2px solid rgb(191, 187, 187);
    min-height: 197px;
    margin: 70px;
    margin-bottom: 10px;
    box-shadow: 3px 4px 8px 0px rgb(145 145 145);
    z-index: 1000;
}
.search select{
    width: 28vw;
    padding: 10px;
    border-radius: 6px;

}
.home_searchIcon{
    color: rgb(105, 102, 102);
    position: relative;
    margin-right: -30px;
}
.top_heading{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 110px;
    color: rgb(73, 73, 73);
    font-size: 2.45rem;
    font-family: Arial, Helvetica, sans-serif;
    
}
/* responsive */

@media (max-width: 768px) {
  .searchitem {
    min-height: 195px;
    position: relative;
    top: 6rem;
    margin: 24px;
}
.top_heading {
    margin-top: 146px;
    font-size: 1.8rem;
}

}