@media(max-width:768px){
    .orderProduct_info{
     margin-left: 1rem;
    }
    .orderProduct{
     margin: 1rem;
    }
 }
 .orderProduct{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.orderProduct_info{
    padding-left: 20px;
}

.orderProduct>img{
    height: 180px;
    width: 25%;
    object-fit: contain;
}
.orderProduct_info>button{
    background-color: #f0c14b;
    border: 1px solid;
    border-color: #d5a11e;
    margin-top: 5px;
    padding: 4px;
    padding-left: 5px;
    padding-right: 5px;

}
.checkoutProduct_rating{
    display: flex;
    color: rgb(255, 204, 0);
}
.orderProduct_info h4{
    font-size: 18px;
    font-weight: 600;
    color: rgb(23, 23, 23);
}